[Desktop Entry]
Encoding=UTF-8
Name=Link to Plastic Mini by deleket on DeviantArt
Type=Link
URL=https://deleket.deviantart.com/art/Plastic-Mini-161227659
Icon=text-html
